@page
@model ThanksModel

@{
    ViewData["Title"] = "Thank you for register order";
}

<h2>Thank you for sending your request. You will be notified as order processing progresses.</h2>
<h2>Your OrderId: @Model.OrderId</h2>